{% load humanize %}
<div role="alert">
    <table class="table table-bordered table-striped alert alert-light">
        <thead class="thead-light">
            <tr class="text-center">
                <th colspan="3" style="font-weight:bold; font-size:18px">CARRITO</th>
            </tr>
            <tr>
                <th style="font-size:15px; font-weight: bold; color:black; text-align: center;">NOMBRE</th>
                <th style="font-size:15px; font-weight: bold; color:black; text-align: center;">PRECIO</th>
                <th style="font-size:15px; font-weight: bold; color:black; text-align: center;">CANTIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %} 
                    <tr>
                        <td style="font-size:13px">{{ value.nombre }}</td>
                        <td style="font-size:13px">$ {{ value.precio }}</td>
                        <td style="font-size:13px">
                            {{ value.cantidad }}
                            <br>
                            <a href="{% url 'agregar' value.producto_id %}" class="badge btn btn-success">+</a>
                            <a href="{% url 'restar'  value.producto_id %}" class="badge btn btn-warning">-</a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align:right;">Total:</th>
                        <td style="font-size:13px">$ {{ value.total|intcomma }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-info text-center" style="font-weight: bold;">Sin Productos</div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
</div>
<div class="row text-center">
    <div class="col-6">
        <a href="{% url 'limpiar' %}" class="btn btn-outline-danger">Limpiar Carrito</a>
    </div> 
    <div class="col-6">
        <a href="{% url 'procesar_pago' %}" class="btn btn-outline-primary">Comprar</a>
    </div>
</div>
